In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df1 =pd.read_csv("Companies.csv")

In [3]:
df1.head()

        Date       Open       High        Low      Close     Volume Company
0   02/11/09  13.767143  14.044286  13.681429  13.831429  168743400   Apple
1   02/12/09  13.690000  14.250000  13.690000  14.181429  204297100   Apple
2  2/13/2009  14.141429  14.277143  14.017143  14.165714  152244400   Apple
3  2/17/2009  13.838572  13.862857  13.468572  13.504286  169559600   Apple
4  2/18/2009  13.578571  13.692857  13.245714  13.481428  171194800   Apple

In [4]:
df1.tail()

           Date     Open     High      Low    Close   Volume Company
23921  02/04/20  2029.88  2059.80  2015.37  2049.67  5255893  Amazon
23922  02/05/20  2071.02  2071.02  2032.00  2039.87  4376174  Amazon
23923  02/06/20  2041.02  2056.30  2024.80  2050.23  3058878  Amazon
23924  02/07/20  2041.99  2098.53  2038.10  2079.28  5074635  Amazon
23925  02/10/20  2085.01  2135.60  2084.96  2133.91  5056235  Amazon

In [5]:
print (df1.dtypes)

Date        object
Open       float64
High       float64
Low        float64
Close      float64
Volume       int64
Company     object
dtype: object

In [6]:
df1.describe()

               Open          High           Low         Close        Volume
count  23926.000000  23926.000000  23926.000000  23926.000000  2.392600e+04
mean     140.461368    142.035341    138.769354    140.471459  2.629321e+07
std      278.767692    281.314256    275.730471    278.654991  3.473145e+07
min        1.406700      1.448300      1.312500      1.395800  1.185000e+05
25%       30.639999     30.990000     30.299999     30.692501  6.750150e+06
50%       56.830002     57.490002     56.279999     56.900002  1.432005e+07
75%      126.137501    127.442497    124.800002    126.169998  3.166238e+07
max     2085.010000   2135.600000   2084.960000   2133.910000  5.735764e+08

In [7]:
df1.shape

(23926, 7)

In [8]:
df1['High'] = df1['High'].astype(float)
df1['Close'] = df1['Close'].astype(float)
df1['Low'] = df1['Low'].astype(float)

In [9]:
df1= df1.drop('Date', axis=1)

In [10]:
X = df1.drop('Company', axis=1)
y = df1['Company']

In [11]:
X=df1['High']
y = df1['Low']

In [12]:
y

0          13.681429
1          13.690000
2          14.017143
3          13.468572
4          13.245714
5          12.872857
6          12.714286
7          12.358571
8          12.428572
9          12.750000
10         12.708571
11         12.524285
12         12.524285
13         12.554286
14         12.778571
15         12.635715
16         11.761429
17         11.795714
18         12.051429
19         12.797143
20         13.142858
21         13.572857
22         13.454286
23         13.581429
24         14.245714
25         14.321428
26         14.367143
27         14.535714
28         15.055715
29         14.837143
            ...
23896    1866.010000
23897    1840.620000
23898    1832.230000
23899    1864.150000
23900    1864.500000
23901    1860.000000
23902    1892.040000
23903    1886.440000
23904    1895.800000
23905    1880.000000
23906    1880.800000
23907    1858.550000
23908    1855.090000
23909    1866.020000
23910    1857.250000
23911    1860.000000
23912    1883.340000
23913    1872.760000
23914    1847.440000
23915    1815.340000
23916    1830.020000
23917    1855.020000
23918    1850.610000
23919    2002.270000
23920    2000.250000
23921    2015.370000
23922    2032.000000
23923    2024.800000
23924    2038.100000
23925    2084.960000
Name: Low, Length: 23926, dtype: float64

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state=100)

In [20]:
X_train = X_train.values.reshape(-1, 1)
X_test = X_test.values.reshape(-1, 1)

In [21]:
y_train

2516     169.250000
20437     36.480000
1964     110.070000
9782      91.400002
21515    121.474900
10894     49.250000
22267    289.400000
7988      26.600000
19642     21.570000
4828      32.610001
13892     21.520000
18285      3.125000
18413      6.583300
21125     50.120000
16877    235.059998
9933     109.400002
9430      60.150002
6828     151.509995
835       79.761429
16547    122.349998
21464    136.910000
5683      26.950001
23264    998.020000
19493     13.000000
17137    213.630005
9909     111.629997
16392     31.520000
21446    131.180000
595       46.054287
1380      94.709999
            ...
3213      19.340000
21377    134.350000
18284      3.031700
5787      25.590000
18818     77.060000
6230      78.099998
15453     56.770000
5769      26.000000
9723      87.860001
11152     61.970001
7738      28.650000
17724    323.929993
11492     75.120003
20760     73.000000
10992     58.529999
13297     12.075000
17186    195.880005
5646      22.850000
7906      25.100000
13890     22.545000
20533     27.830000
10082    131.639999
14260     36.770000
16734    206.419998
16304     31.250000
79        20.458570
12119     54.950001
14147     36.259998
23320    979.420000
5640      19.299999
Name: Low, Length: 19140, dtype: float64

In [22]:
from sklearn.svm import SVR 
svr = SVR()
svr.fit(X_train, y_train)
print(svr.score(X_train, y_train))
print(svr.score(X_test, y_test))

/Users/sanjana/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.07555221558242164
0.0807612978707124

In [32]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100,max_depth=5,max_features=None,max_leaf_nodes=None,min_samples_leaf=1,min_samples_split=2,oob_score=True,random_state=100)
model.fit(X_train,y_train)
#Evaluate model
training_score =model.score(X_train,y_train)
test_score=model.score(X_test,y_test)
print('Model training score is:', training_score)
print('Model test score is:', test_score)

Model training score is: 0.9992758903053951
Model test score is: 0.9991370873297999

In [ ]:
from sklearn import svm
clf = svm.SVR(kernel='linear')

clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)


y_pred = clf.predict([[X_test]])
y_pred